@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #000000;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: "Merriweather", serif;
  color: rgb(243, 243, 4);
}
.App {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.heroes_content {
  width: 100%;
  margin: 0 auto;
  max-width: 1100px;
  background: #000000;
  height: 100vh;
}
