* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  display: flex;
  justify-content: center;
}
.App {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.heroes_content {
  display: flex;
  justify-content: center;
  background: red;
}
