@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

.hero_card {
  display: flex;
  max-width: 250px;
  height: 300px;
  position: relative;
  border-radius: 10px;
  cursor: pointer;

  .hero_img {
    max-width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid yellow;
  }
  .hero_id {
    position: absolute;
    right: 15px;
    top: 15px;
    color: rgb(243, 243, 4);
  }
  .hero_name {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    color: rgb(243, 243, 4);
    user-select: none;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    bottom: 20px;
  }
}
@media (max-width: 550px) {
  .hero_card {
    max-width: 200px;
    height: 250px;
    display: flex;

    .hero_img {
      max-width: 200px;
      height: 250px;
    }
  }
}
@media (max-width: 500px) {
  .hero_card {
    max-width: 190px;
    height: 250px;
    display: flex;

    .hero_img {
      max-width: 200px;
      height: 250px;
    }
  }
}
@media (max-width: 428px) {
  .hero_card {
    max-width: 180px;
    height: 250px;
    display: flex;

    .hero_img {
      max-width: 200px;
      height: 250px;
    }
  }
}
@media (max-width: 412px) {
  .hero_card {
    max-width: 170px;
    height: 250px;
    display: flex;

    .hero_img {
      max-width: 200px;
      height: 250px;
    }
    .hero_name {
      font-size: 14px;
    }
  }
}
@media (max-width: 392px) {
  .hero_card {
    max-width: 150px;
    height: 250px;
    display: flex;

    .hero_img {
      max-width: 150px;
      height: 250px;
    }
    .hero_name {
      font-size: 12px;
    }
  }
}
