.heroes_wrapper {
  position: relative;
}

.heroes_list {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: center;
  border: 2px solid rgba(250, 205, 0, 0.6);
  padding-bottom: 1rem;
  border-radius: 5px;
}
.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(250, 205, 0, 0.6);
  backdrop-filter: blur(2px);
}
